.pokemon-card
    font-family: "Verdana", sans-serif
    border: 1px solid #c5c5
    background: #FFFAF0
    padding: 15px
    margin: 10px
    border-radius: 10px
    border-color: rgba(0, 191, 225, 0)
    border-top: 6px solid #40E0D0
    border-bottom: 7px solid #40E0D0
    text-transform: capitalize
    